{% load dajaxice_templatetags %}
<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        {% dajaxice_js_import %}
        <script type="text/javascript" src="{{STATIC_URL}}dajax/jquery.dajax.core.js"></script>
        <script>
            $(function() {
                $('#query').keyup(function(e) {
                    if (e.keyCode == 13 && $('#course_list .selected button').length > 0) {
                        $('#course_list .selected button').click();
                    }

                    else if (e.keyCode == 40) {
                        selected = $('#course_list .selected');
                        if (selected.next().length == 1) {
                            selected.removeClass('selected');
                            selected.next().addClass('selected');
                        }
                    }

                    else if (e.keyCode == 38) {
                        selected = $('#course_list .selected');
                        if (selected.prev().length == 1) {
                            selected.removeClass('selected');
                            selected.prev().addClass('selected');
                        }
                    }

                    else {
                        Dajaxice.ssu.find_courses(Dajax.process, { query: $(this).val() })
                    }
                });
                $('#search').click(function() {
                    $('#search_area').show();
                    $('#query').focus();
                });
                $('#search_area').hide();
            });

            function add_course(id) {
                $('#query').val('');
                $('#course_list').html('');
                Dajaxice.ssu.add_course(Dajax.process, { course_id: id });
                $('#query').focus();
            }
        </script>
        <style type="text/css">
            #course_list span { display: inline-block; width: 300px; }
            #added_courses { width: 300px; }
            #search_area { display: inline-block; vertical-align: top; }
            .selected { background-color: yellow; }
        </style>
            
    </head>
    <body>
        <div id="added_courses"></div>
        <div id="next">
            <button id="search">Search</button>
            <button id="category">Category</button>
            <div id="search_area">
                <input type="text" value="" id="query" autocomplete="off">
                <div id="course_list"></div>
            </div>
        </div>
    </body>
</html>
